<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ServiceBox</title>
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Inter&display=swap}" rel="stylesheet">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link th:href="@{/assets/fontawesome/css/all.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<main class="container">
    <main class="row">
        <div class="col-md-12">
            <header class="d-flex justify-content-between mt-5 mb-3">
                <h1 th:text="#{cl.addClient}"></h1>
            </header>
            <div>
                <form th:object="${newClient}" th:action="@{/employee/add}" method="post">
                    <div class="py-3">
                        <div class="col-md-3 mb-3 mt-3">
                            <label for="name" class="form-label" th:text="#{cl.name}"></label>
                            <textarea class="form-control" id="name" rows="1"
                                      th:field="*{name}"
                                      th:errorclass="is-invalid"></textarea>
                            <div th:class="'alert alert-danger'" th:if="${#fields.hasErrors('name')}"
                                 th:text="#{errors.required}"></div>
                        </div>
                        <div class="col-md-3 mb-3 mt-3">
                            <label for="nip" class="form-label" th:text="#{cl.nip}"></label>
                            <textarea type="number" class="form-control" id="nip" rows="1"
                                      th:field="*{nip}"
                                      th:errorclass="is-invalid"></textarea>
                            <div th:class="'alert alert-danger'" th:if="${#fields.hasErrors('nip')}"
                                 th:text="#{errors.nip}"></div>
                        </div>
                        <div class="col-md-3 mb-3 mt-3">
                            <label for="address.street" class="form-label" th:text="#{cl.street}"></label>
                            <textarea class="form-control" id="address.street" rows="1"
                                      th:field="*{address.street}"
                                      th:errorclass="is-invalid"></textarea>
                        </div>
                        <div class="col-md-3 mb-3 mt-3">
                            <label for="address.houseNumber" class="form-label" th:text="#{cl.houseNumber}"></label>
                            <textarea type="number" class="form-control" id="address.houseNumber" rows="1"
                                      th:field="*{address.houseNumber}"
                                      th:errorclass="is-invalid"></textarea>

                        </div>
                        <div class="col-md-3 mb-3 mt-3">
                            <label for="address.flatNumber" class="form-label" th:text="#{cl.flatNumber}"></label>
                            <input type="number" class="form-control" id="address.flatNumber" rows="1"
                                   th:field="*{address.flatNumber}"
                                   th:errorclass="is-invalid">
                        </div>
                        <div class="col-md-3 mb-3 mt-3">
                            <label for="address.zipCode" class="form-label" th:text="#{cl.zipCode}"></label>
                            <textarea class="form-control" id="address.zipCode" rows="1"
                                      th:field="*{address.zipCode}"
                                      th:errorclass="is-invalid"></textarea>
                        </div>
                        <div class="col-md-3 mb-3 mt-3">
                            <label for="address.city" class="form-label" th:text="#{cl.city}"></label>
                            <textarea class="form-control" id="address.city" rows="1"
                                      th:field="*{address.city}"
                                      th:errorclass="is-invalid"></textarea>
                        </div>
                        <div class="col-md-3 mb-3 mt-3">
                            <label for="phoneNumber" class="form-label" th:text="#{cl.phoneNumber}"></label>
                            <input type="number" class="form-control" id="phoneNumber" rows="1"
                                   th:field="*{phoneNumber}"
                                   th:errorclass="is-invalid">
                            <div th:class="'alert alert-danger'" th:if="${#fields.hasErrors('phoneNumber')}"
                                 th:text="#{errors.phoneNumber}"></div>
                        </div>
                        <div class="col-md-3 mb-3 mt-3">
                            <label for="email" class="form-label" th:text="#{cl.email}"></label>
                            <textarea type="email" class="form-control" id="email" rows="1"
                                   th:field="*{email}"
                                   th:errorclass="is-invalid"></textarea>
                            <div th:class="'alert alert-danger'" th:if="${#fields.hasErrors('email')}"
                                 th:text="#{errors.email}"></div>
                        </div>
                        <div class="col-md-12 mb-3 mt-5">
                            <button type="submit" class="btn btn-primary btn-lg"
                                    th:text="#{submit.button}"></button>
                            <a th:href="@{/employee/clients}" class="btn btn-outline-secondary btn-lg"
                               th:text="#{btn.label.reject}"></a>
                        </div>
                    </div>
                    </section>
                </form>
            </div>
                </form>
            </div>
        </div>
    </main>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js}"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
</body>
</html>