body {
    /*background-color: #f8f9fa;*/
    font-family: 'Inter', sans-serif;
}

.navbar-toggler {
    border: none;
}

.header__options {
}

.btn-lg {
    border-radius: 5px !important;
    padding: 5px 20px;
}

.card tbody > tr:last-child > td {
    border-bottom: 0;
}

.navbar-nav .nav-link.active {
    border-bottom: 2px solid #49247A;
}

.btn-primary {
    color: #ffffff;
    background-color: #611BBD;
    border-color: #130269;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #49247A;
    border-color: #130269;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #611BBD;
    border-color: #130269;
}

.btn-primary .badge {
    color: #611BBD;
    background-color: #ffffff;
}

.form-control:focus, .form-select:focus {
    outline: none !important;
    border: 1px solid #ced4da !important;
    border-bottom: 3px solid #611BBD !important;
    box-shadow: none !important;
}

.form-control, .form-select {
    padding: 12px !important;
}

.heading {
    font-size: 26px;
    font-weight: bold;
}

tbody tr {
    min-height: 60px;
}

.filter {
    color: #611BBD;
    text-decoration: none;
}

.filter:hover {
    color: #dc3545;
}
